body {
  font-family: 'Lexend Deca', 'Arial', 'Helvetica', 'sans-serif';
  background-color: #ECECEC;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  width: 450px;
  background-color: white;
  padding: 40px 80px;
  padding-bottom: 90px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}

input {
  background-color: #181725;
  border-radius: 5px;
  width: 100%;
  padding: 6px 12px;
  color: #fff
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

small {
  color: red;
}

button {
  background-color: #12e497;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

a {
  color: #20DF7F;
  font-size: 12px;
  text-decoration: none;
}

input[type=checkbox] {
  width: inherit;
}

label {
  display: inline-block;
  font-size: 12px
}


.remember-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remember-input {
  display: flex;
  align-items: center;
}

#remember {
  margin-right: 4px
}

.password-wrapper {
  position: relative;
}

.show-password-input {
  position: absolute;
  top: 12px;
  right: 12px
}